.App-Body {
  display: flex;
  flex-direction: column;

  // border: solid rgb(118, 118, 165);
  width: 100%;
  // height: 100%;
}

.Main-Topic-Container {
  // display: flex;
  // flex-direction: column;
  // border: solid rgb(18, 67, 110);
  // height: 100%;
  // width: 100%;
}
.Topic-Submit-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 500;
    box-shadow: 0 0 5px 5px rgb(252 215 173);
    height: 42px;
    width: 313px;
    border-radius: 30px;
    border: 0;
    padding-left: 20px;
  }
  input:focus {
    border: 1px solid rgb(47, 105, 192);
    border-radius: 30px;
    outline: none;
  }
}
.Topic-Child-Container {
  color: rgb(145 145 145);
  font-weight: bold;
  // display: flex;
  // flex-wrap: wrap;

  // margin: 40px 40px 40px 60px;
}
.Card-Topics-Container {
  // border: solid blue;
}
.Card-Title {
  margin: 15px;
  font-size: 19px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.Topic-Child-Container2 {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  justify-self: center;
  margin: 55px 0 0 100px;
}

// .Card-Topics-Container {
// display: inline-block;
// flex-direction: row;

// border: solid rgb(81, 153, 216);
// }
.Card-Topics-Wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px 10px;
  width: 245px;
  height: 195px;
  align-items: center;
  justify-content: center;
  border: solid rgb(222, 222, 222);
  border-width: 2px;
}

.Card-Topics {
  height: 80%;
  width: 100%;
}

.Bottom-Card-Portion {
  display: flex;
  height: 20%;
  width: 100%;
  border-top: solid rgb(222, 222, 222);
  border-width: 2px;
  justify-content: space-between;
  align-items: center;
  .Bottom-Card-Portion-Text {
    color: rgb(245 165 73);
    font-size: 20px;
    margin-left: 8px;
  }
  .Bottom-Card-Portion-Text2 {
    font-weight: lighter;
    margin-right: 5px;
  }
}

.Main-Title {
  font-size: 25px;
  color: rgb(241 99 82);
  margin-bottom: 30px;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 700;
}

.Start-Discussion-Button {
  display: flex;
  text-transform: capitalize;
  font-weight: 700;
  color: white;
  border: 0;
  justify-content: center;
  align-items: center;
  margin-left: 675px;
  border-radius: 30px;
  height: 45px;
  width: 170px;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  background-image: linear-gradient(to right, rgb(234 43 91), rgb(248 162 74));
}
